<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <input id="id" type="text">
    <button id="search_id" onclick="search_id()">아이디 확인</button>
    <div id="buttonContainer"></div>

    <script>

        function search_id(){
            id = document.getElementById('id').value;

            $.ajax({
                type: "GET",
                url: "/chat_list",
                data: {"uid":id},
                success: function (response) {
                    console.log(response);
                    response.forEach(item => {
                        // 각 데이터 항목에 대한 버튼 생성
                        // $('#buttonContainer').append('<button>' + item.title + '</button>');
                        $('#buttonContainer').append('<button onclick="show_rid('+item.rid+')" data-rid="' + item.rid + '">' + item.title + '</button></br>');
                    });

                },
                error:function (request,state,error){
                    console.log(error);
                }
            });

        }

        function show_rid(rid){
            console.log("누른거 : ", rid);
        }

    </script>
</body>
</html>