<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SBB</a>
    (... 생략 ...)
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/user/signup}">회원가입</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div layout:fragment="content" class="container my-3">
  <div class="my-3 border-bottom">
    <div>
      <h4>회원가입</h4>
    </div>
  </div>
  <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
      <!-- 전역 오류 메시지 표시 -->
      <div th:if="${#fields.hasGlobalErrors()}">
          <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
      </div>

      <!-- 개별 필드 오류 메시지 -->
      <div class="mb-3">
          <label for="lid" class="form-label">사용자ID</label>
          <input id="lid" type="text" th:field="*{lid}" class="form-control">
          <span th:if="${#fields.hasErrors('lid')}" th:errors="*{lid}"></span>
      </div>
      <div class="mb-3">
      <label for="lpwd" class="form-label">비밀번호</label>
      <input id="lpwd" type="password" th:field="*{lpwd}" class="form-control">
      <span th:if="${#fields.hasErrors('lpwd')}" th:errors="*{lpwd}"></span>
    </div>
    <div class="mb-3">
      <label for="lpwd2" class="form-label">비밀번호 확인</label>
      <input id="lpwd2" type="password" th:field="*{lpwd2}" class="form-control">
        <span th:if="${#fields.hasErrors('lpwd2')}" th:errors="*{lpwd2}"></span>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">이름</label>
      <input id="name" th:field="*{uname}" class="form-control">
        <span th:if="${#fields.hasErrors('uname')}" th:errors="*{uname}"></span>
    </div>
    <button type="submit" class="btn btn-primary">회원가입</button>
  </form>
</div>
</html>
